<article id="posts" class="posts {TagsAsClasses}">
    {block:Posts}
        {block:Text}
            <div class="post text">
                {block:Title}
                    <h3>
                        <a href="{Permalink}">{Title}</a>
                    </h3>
                {/block:Title}{Body}
            </div>
        {/block:Text}

        {block:Photo}
            <div class="post photo">
                <img src="{PhotoURL-500}" alt="{PhotoAlt}" />
                {block:Caption}
                    <div class="caption">{Caption}</div>
                {/block:Caption}
            </div>
        {/block:Photo}

        {block:Panorama}
            <div class="post panorama">
                {LinkOpenTag}
                    <img src="{PhotoURL-Panorama}" alt="{PhotoAlt}" />
                {LinkCloseTag}

                {block:Caption}
                    <div class="caption">{Caption}</div>
                {/block:Caption}
            </div>
        {/block:Panorama}

        {block:Photoset}
            <div class="post photoset">
                {Photoset-500}
                {block:Caption}
                    <div class="caption">{Caption}</div>
                {/block:Caption}
            </div>
        {/block:Photoset}

        {block:Quote}
            <div class="post quote">
                "{Quote}"
                {block:Source}
                    <div class="source">{Source}</div>
                {/block:Source}
            </div>
        {/block:Quote}

        {block:Link}
            <div class="post link">
                <a href="{URL}" class="link" {Target}>{Name}</a>
                {block:Description}
                    <div class="description">{Description}</div>
                {/block:Description}
            </div>
        {/block:Link}

        {block:Chat}
            <div class="post chat">
                {block:Title}
                    <h3>
                        <a href="{Permalink}">{Title}</a>
                    </h3>
                {/block:Title}
                <ul class="chat">
                    {block:Lines}
                        <li class="{Alt} user_{UserNumber}">
                            {block:Label}
                                <span class="label">{Label}</span>
                            {/block:Label}
                            {Line}
                        </li>
                    {/block:Lines}
                </ul>
            </div>
        {/block:Chat}

        {block:Video}
            <div class="post video">
                {Video-500}
                {block:Caption}
                    <div class="caption">{Caption}</div>
                {/block:Caption}
            </div>
        {/block:Video}

        {block:Audio}
            <div class="post audio">
                {AudioEmbed}
                {block:Caption}
                    <div class="caption">{Caption}</div>
                {/block:Caption}
            </div>
        {/block:Audio}

        {block:Answer}
            <div class="answer">
                <img src="{AskerPortraitURL-40}">{Asker} {Question} {Answer}
            </div>
        {/block:Answer}

        {block:PermalinkPage}
            {block:HasTags}
                <ul class="tags">
                    {block:Tags}
                    <li>
                        <a href="{TagURL}">{Tag}</a>
                    </li>
                    {/block:Tags}
                </ul>
            {/block:HasTags}

            <ul class="like_and_reblog_buttons">
                <li>{ReblogButton}</li>
                <li>{LikeButton}</li>
            </ul>

            <div class="comments">
                <!--embed comment widget here if required top appear on permalink page-->
                Comments area
            </div>

            {block:PostNotes}
                <div class="notes">
                    {PostNotes}
                </div>
            {/block:PostNotes}
        {/block:PermalinkPage}

        {block:TagPage}
            <h2>Posts tagged "{Tag}"</h2>
        {/block:TagPage}
    {/block:Posts}
</article>